img {
  float: right;
  margin: 4px;
}

h1 {
  text-align: center;
}
h2 {
  color: #4240B2;
}
h3 {
  font-size: 15px;
}
.col-md-2 {
  margin: 10px;
}
.col-md-2 ol {
  padding: 5px;
}
span {
  color: #1814CC;
}
body {
  background-color: #4AFF19;
}
a {
 color: #B24A12;
}